* {box-sizing: border-box;}
body {background: #f69a73;}
h2{
    margin-top: 10px;
}
form{
    width: 400px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.container{
    display: flex;
    background-color: #ff8d8d;
    border: 12px outset #ffb0b0;
}
.div-info{
    margin-top: 25px;
}
.div-info p{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #fffafa;
    padding: 8px;
}
.bgForInfo{
    border-radius: 20px;
    background-color: #6e2525;
}
.div-category{
    margin-left: 2px;
}
.div-item{
    margin-left: 100px;
}
.category{
    cursor: pointer;
    border: 2px solid gray;
    background-color: #ffe1b5;
    padding: 20px;
    font-size: 25px;
    color: #E91E63;
}
.category:hover{
    transition: 0.5s;
    background-color: #fffefd;
}
.category-2{
    background-color:#b5e7ff
}
.category-3{
    background-color:#b9ff9d;
}
.item{
    cursor: pointer;
    border: 2px solid gray;
    background-color: #ffe1b5;
    padding: 20px;
    font-size: 25px;
    color: #E91E63;
}
.info-btn:hover{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;  
}
.div-items h2{
    font-size: 30px;
    color: #fff277;
}
.div-items-2 h2{
    color:#00acff;
}
.div-items-2 .item{
    background-color: #b5e7ff;
}
.div-items-3 h2{
    color:#00e361;
}
.div-items-3 .item{
    background-color:#b9ff9d;
}
.item:hover{
    transition: 0.5s;
    background-color: #fffefd;
}
.item-info{
    margin-left: 100px;
    display: none;
}
.info-btn{
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    padding: 8px 30px;
    font-size: 20px;
    border: 2px outset #cbcbcb;
    cursor: pointer;
}
.div-items{
    display: none;
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
#city{
    margin-top: 20px;
    margin-bottom: 20px;
}
.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #f69a73;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner button {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 15px;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    background-color: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
.form-btn{
    cursor: pointer;
}
.rad{
    width: 60px !important;
    display: inline-block !important;
}
.invalid{
    border: 5px solid red !important;
}